﻿@model IEnumerable<CodigoExposicion.Models.Producto>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CantidadProducto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoDeProducto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MarcaDelPorducto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CiudadDeProcedencia)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CantidadProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoDeProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MarcaDelPorducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CiudadDeProcedencia)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
